body {
  padding:2rem;
}
* {
  font-family:sans-serif;
}
h1 a { text-decoration:none; }
h2 { font-size:110%; }
td,th {
  padding:0.5rem;
}
div,pre {
  display:inline-block;
  vertical-align:top;
  margin-left:1rem;
}
div {
  padding-left:1rem;
  padding-right:1rem;
  background:#eef;
}
p {
  width:80ch;
}
h2 {
  opacity:85%;
  margin-top:2rem;
  text-decoration-line:underline;
  text-decoration-style:wavy;
}

