// COLORS
//
body {
  background:#292A2D;
  color:#b9b9b9 !important; 
}
*[class^="sol-"] input    ,
*[class^="sol-"] textarea ,
*[class^="sol-"] button   {
  color:#b9b9b9 !important; 
  border:1px solid grey;
  background:#1F1F1F !important;
  border-radius:0.3rem !important;
}
.sol-header,
.sol-footer,
.sol-links a,
.sol-searchbar,
.sol-selector { 
  background:#1F1F1F;
}
.sol-selector-links { 
  background:#3C4043;
}
.sol-selector, 
.sol-selector-links a,
.sol-links a,
.sol-searchbar fieldset { 
  color:#b9b9b9 !important; 
}

